body {
    background-color: #C4D7E0;
  }
  hr {
    background-color: C4D7E0;
    border-style: dotted none none;
    border-color: grey;
    border-width: 5px;

    
    
    height: 25 px;
    width: 5%;
  }
h1 {
    color: #5f9ea0;
    font-family: Georgia;
    text-decoration: underline;

}

h3 {
    color: #5f9ea0;
    text-decoration: underline;
}